---
- name: Allow http traffic
  firewalld:
    service: http
    permanent: true
    immediate: true
    state: enabled
    zone: "{{ item }}"
  loop: "{{ active_firewall_zones }}"

- name: Allow https traffic
  firewalld:
    service: https
    permanent: true
    immediate: true
    state: enabled
    zone: "{{ item }}"
  loop: "{{ active_firewall_zones }}"
