---
- name: Base web-server setup
  include_role:
    name: web-server

- name: Install Apache
  yum:
    state: present
    pkg:
      - httpd
      - mod_ssl

- name: Start Apache
  service:
    name: httpd
    state: started
    enabled: true

- name: Disable default configs
  copy:
    dest: "/etc/httpd/conf.d/{{ item }}.conf"
    content: "# This file intentionally left blank"
  with_items:
    - welcome
    - userdir
    - autoindex
  notify: reload apache

- name: Apache config
  template:
    src: httpd.conf.j2
    dest: /etc/httpd/conf/httpd.conf
  notify: reload apache

- name: SSL config
  copy:
    src: ssl.conf
    dest: /etc/httpd/conf.d/ssl.conf
  notify: reload apache

- name: Sites directories
  file:
    path: "/etc/httpd/{{ item }}"
    state: directory
  with_items:
    - sites-available
    - sites-enabled

- name: FQDN virtualhost
  template:
    src: fqdn.conf.j2
    dest: "/etc/httpd/sites-available/{{ ansible_fqdn }}.conf"
  notify: reload apache

- name: Enable FQDN virtualhost
  file:
    src: "/etc/httpd/sites-available/{{ ansible_fqdn }}.conf"
    dest: "/etc/httpd/sites-enabled/00-{{ ansible_fqdn }}.conf"
    state: link
  notify: reload apache
