---
- name: Include base vars
  include_vars: "{{ role_path }}/../base/vars/main.yml"

- name: Merge database overrides
  set_fact:
    rails_database: "{{ rails_database | default({}) | combine(rails_database_overrides | default({}), recursive=True) }}"

- name: Read database password
  become: false
  local_action:
    module: hasnimehdi91.keepass.secret_reader
    db_path: "{{ password_database_file }}"
    db_password: "{{ password_database_password }}"
    secret_path: "{{ rails_database.password_kp_path }}"
  register: database_password_secret
  when: not rails_database.password is defined

- name: Database configuration
  template:
    src: database.yml.j2
    dest: /srv/{{ rails_app_name }}/shared/config/database.yml
    owner: "{{ rails_app_name }}"
    group: deploy
    mode: 0o660
