  <Location /csp_report>
    ShibRequestSetting requireSession false
    Require all granted
  </Location>
  <LocationMatch "^/vehicles/fa_export(\.(csv|html))?$">
    ShibRequestSetting requireSession false
    Require all granted
  </LocationMatch>

  <Location /faye>
    ProxyPass "http://localhost:9292" upgrade=websocket
  </Location>
