---
- name: Local ssh group
  group:
    name: ssh-local
    state: present

- name: Admin group
  group:
    name: admin
    state: present

- name: Deploy group
  group:
    name: deploy
    state: present

- name: Allow admins to sudo
  copy:
    src: local_admin_sudo
    dest: /etc/sudoers.d/local_admin
    owner: root
    group: root
    mode: 0440
    validate: visudo -cf %s

- name: Add new transportation users
  include_tasks: transportation_user.yml
  vars:
    transportation_user: "{{ item }}"
  loop: "{{ transportation_users.present | default([], true)}}"

- name: Remove old transportation users
  user:
    name: "{{ item.name }}"
    state: absent
    remove: true
  loop: "{{ transportation_users.absent | default([], true) }}"
