- name: Base required packages
  yum:
    state: present
    pkg:
      - bash-completion
      - git
      - vim
      - "@development"

- name: Firewalld
  service:
    name: firewalld
    state: started
    enabled: yes
